
# Created by https://www.toptal.com/developers/gitignore/api/maxos
# Edit at https://www.toptal.com/developers/gitignore?templates=maxos

#!! ERROR: maxos is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/maxos

.DS_Store

